body{
    background-color: blue;
    color: white;
}

.ex1{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: aqua;
}

.ex2{
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: rgb(41, 194, 143);
}

.ex3{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: rgb(253, 38, 9);
}

