body{
    background-color: rgb(255, 201, 101);
}

.ex1{
    background-color: brown;
    border: 3px solid black;
    outline-style: solid;
    outline-width: 10px;
    outline-color: rgb(255, 72, 103);
    outline-offset: 10px ;width: 500px;
    margin: 60px auto;
}