body {
    background-color: rgb(216, 44, 14);
    justify-items: center;
}

h1 {
    background-color: rgb(255, 255, 0.5);
    color: orangered;
    border: 6px solid orangered;
    /*opacity: 0.5; */
}

h2 {
    background-color: rgb(255, 165, 0.6);
    color: darkgreen;
    border: 4px solid green;
    margin: auto;
    /*opacity: 0.5; */
}

p {
    background-color: rgb(255, 99, 0.4);
    color: maroon;
    border: 3px solid maroon;
    /*opacity: 0.5; */
}


