body{
    background-color: whitesmoke;
}

/* Exemplo flex direction: column */
.ex1{
    display: flex;
    background-color: rgb(240, 106, 57);
    flex-direction: row;
    gap: 10px;
}

.ex1 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;

}

/* Exemplo flex direction: column */
.ex2{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 106, 57);
    gap: 10px;
}

.ex2 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* Exemplo flex direction: row-reverse */
.ex3{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(240, 106, 57);
    gap: 10px;
}

.ex3 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* Exemplo flex direction: column-reverse */
.ex4{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(240, 106, 57);
    gap: 10px;
}

.ex4 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* Exemplo flex-wrap: nowrap */
.ex5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(240, 124, 57, 0.658);
    gap: 10px;
}

.ex5 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* Exemplo flex-wrap: wrap */
.ex6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(179, 70, 7, 0.699);
    gap: 10px;
}

.ex6 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* Exemplo flex-wrap: wrap-reverse */
.ex7{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: rgba(179, 70, 7, 0.699);
    gap: 10px;
}

.ex7 div{
    background-color: rgb(255, 122, 12);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}