body{
    background-color: rgb(8, 99, 8);
    color: white;
}

/* Exemplo de Justify Content: center */
.ex1{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex1 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}

/* Exemplo de Justify Content: flex start */
.ex2{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}

/* Exemplo de Justify Content: flex-end */
.ex3{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex3 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}

/* Exemplo de Justify Content: space-around */
.ex4{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex4 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}

/* Exemplo de Justify Content: space-between */
.ex5{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex5 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}

/* Exemplo de Justify Content: space-evenly */
.ex6{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    background-color: rgb(6, 59, 6);
}

.ex6 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkolivegreen;
}