body{
    background-color: green;
}

div{
    display: flex;
}

.ex1{
    background-color: rgb(43, 255, 124);
    width: 200px;
    margin: 40px 100px;
}

.ex2{
    width: 250px;
    background-color: white;
    margin: 100px auto;
}